<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="style.css">
    <style>


        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px); /* Adjust the blur value for the desired effect */
        }
        

      
    </style>
</head>

<body>

    <header><div class="header">
        <a href="#default" class="logo">EasyTrainBooking</a>
        <div class="header-right">
        <a href="http://localhost:4500/bookings">Your Bookings</a>
        <a href="http://localhost:4500/contactus">Contact us</a>
        <a href="http://localhost:4500/aboutus">About Us</a>
        </div>
        </div>
        <div style="padding-left:20px"> </div></header>

    <main>
        <h2>Contact Information</h2>
        <p>
            If you have any questions or concerns, feel free to contact us at the following number:
        </p>
        <p>
            Phone: +1 (555) 123-4567
        </p>
        <p>
           Email: easytrainbookingsupports.com
        </p>
    </main>

</body>

</html>
